* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #3467eb;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.game, .game .row, .game .row .col {
  padding: 0;
  margin: 0; 
}

.game {
  width: 60rem;
  height: 40rem;
  margin: auto;
  background-color: #1b1f2b;
}

.card-game {
  border-radius: 0;
  width: 10rem;
  height: 10rem;
  background-color: aqua;
  transition: 0.25s;
}

.card-game:hover {
  background-color: #1b1f2b;
  color: #fff;
  transition: 0.25s;
  cursor: pointer;
}

.overlay {
  margin: 0;
  padding: 0 !important;
  border: 0;
  margin-left: -12px;
  box-sizing: border-box;
  position: absolute;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: #561485;
  display: block;
  transition: 0.5s;
}

.overlay span {
  font-size: 3rem;
  color: #FFF;
}

#score {
  width: 60rem;
  margin: 20px auto;
  background-color: #561485;
}

#score p {
  font-size: 1.75rem;
}

#points, #misses {
  font-size: 2rem;
}